<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Reply Notification</title>
  </head>
  <body>
    <h1>Hello <%= name %>,</h1>
    <p>
      Your question has a new response in the video "<%= title %>".
    </p>
    <p>
      To view the response and carry on the conversation, please log in to our website.
    </p>
    <p>Thanks for being a part of our community!</p>
  </body>
</html>
